{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Pedroso Wildlife site admin') }}{% endblock %}

{% block branding %}


<h1 style="display:inline;">Pedroso Wildlife Admin Site</h1>
<h1  style="display:inline; right: 0; top: 0; text-align:center;"> 
    <a href="{% url 'admin:index' %}">
        <img src="https://i.ibb.co/xFbXmtf/Pedroso-wildlife-zoo.png" height="50px"/>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}