{% extends "rest_framework/base.html" %}

{% block title %} Pedroso Wildlife Zoo - API {% endblock %}


{% block branding %}

<span>
<b>Pedroso Wildlife Zoo - API</b> <span class="version">1</span>
<img  src="https://i.ibb.co/xFbXmtf/Pedroso-wildlife-zoo.png" height="45px"/>
    
</span>

{% endblock %}